# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

#### **Objectives**
* List popular languages that Data Scientists use
* List commonly used libraries used by Data Scientists
* List open source Data Science Tools
* List a few examples of evaluating arithmetic expressions in Python
* Creating a Table in Markdown Cell

* Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SQL
 4. Julia
 5. Scala
 6. C++
 7. Java
 8. Java Script
 9. Visual Basic

* Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot

| Data Science Tools |  
|--------------------|
| R Studio |
| Tensor Flow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python
* a = 5 + 3
* b = 10 - 4
* c= a/b

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
  Pankaj